<div class="row align-items-center ml-3">
<form id="author" method="GET" class="col" action="" autocomplete="off">
<input id="inputAuthor" name="author" class=" col col-xs-2 mb-1" type="search" placeholder="...search - author" aria-label="...title">
</form>
{#  #}
<form id="title" method="GET" class="col" action="" autocomplete="off">
<input id="inputTitle" name="title" class=" col col-xs-2 mb-1" type="search" placeholder="...search - title" aria-label="...title">
</form>
{#  #}
<form id="isbn" method="GET" class="col" action="" autocomplete="off">
<input id="inputIsbn" name="isbn" class=" col col-xs-2 mb-1" type="search" placeholder="...search - isbn" aria-label="...title">
</form>
</div>
