{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
{{ encore_entry_script_tags('book') }} 
    <h3>List of all books:</h3>
    <div class="form-row align-items-center ml-3">  
        {{include('includes/_sort.html.twig')}}  
    </div>
    <div class="form-row align-items-center ml-3">  
        {{include('book/_search_bar.html.twig')}}  
    </div>
    <div id='table'>
   {% include 'book/_book_loop.html.twig' %}
    </div>
    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
