<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>LibraryOne</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" /> 
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3 ">
<div class="collapse navbar-collapse mb-3 container" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{path('home_page')}}">Home</a>
    <a class="nav-item nav-link active" href="{{path('author_index')}}">Authors</a>
    <a class="nav-item nav-link active" href="{{path('book_index')}}">Books</a>
    </div>
</div>
</nav>
    <main class='container'> 
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
